/**
  COLORS
  color palette
**/

$black: #000;
$white: #fff;
$light-gray: #888;
$light-gray-1: #58595b;
$light-gray-2: #e2e3e4;
$light-gray-3: #a5a6a6;
$light-gray-4: #ededed;
$light-gray-5: #aaa;
$dark-gray: #2d2f30;
$dark-gray-1: #383b41;
$green: #74c044;
$green-1: #b1ddcb;
$green-2: #add8c6;
$green-3: #01824b;
$green-4: #50bb0e;
$green-2-opacity: #add8c680;
$green-3-opacity: #50bb7233;
$orange: #f89521;
$orange-2: #f39020;
$orange-opacity: #f3902080;
$orange-2-opacity: #f390201a;
$alert-orange-border: #f9d5ad;
$alert-orange: #fdefd7;
$red: #f32020;
$blue: #0668ab;
$blue-2: #2a2756;
$blue-3: #4a90e2;
$blue-4: #1847be;
$light-blue: #b2decb;
$purple: #8680ba;
$purple-2: #5a5a89;
$purple-3: #58569d;
$dark-purple: #2f2e64;
$light-purple: #8180b6;
$lighter-purple: rgba(129, 128, 182, .2);
$lighter-purple-1: rgba(129, 128, 182, .5);
$lighter-purple-2: rgba(129, 128, 182, .4);
$form-transparent: rgba(255, 255, 255, .4);
$form-transparent-focus: rgba(255, 255, 255, .75);
$front_body-before: rgb(83, 160, 253);
$front_body-after:rgb(250, 230, 67);
$tooltip-bottom: #eee;
$tooltip-bottom-box-shadow: rgba(0, 0, 0, .35);
$tooltip-bottom-body: #444;
$search-input-border: rgba(129, 128, 182, .75);
$location-box-shadow: rgba(129, 128, 182, 0);
$header-pfont: #999;
$phone-text:#666;
$leaflet-box: rgba(0, 0, 0, .4);
$leaflet-popup-box: rgb(177, 169, 169);
$gradient-1: #8180b6;
$gradient-2: #b9b8e7;
$gradient-3: #b4ec51;
$gradient-4: #fdcc53;
$gradient-5: #53a0fd;
$guten-table-border: #c6c6c6;